@*@model IEnumerable<MarsadWebsiteControlPanel.Models.tb_Current_Intersection_Service_Dataset>*@
@model PagedList.IPagedList<MarsadWebsiteControlPanel.Models.tb_Current_Intersection_Service_Dataset>
@using PagedList.Mvc;
@using PagedList;

         
@{
            ViewBag.Title = "Intersection_Service_Dataset";
            Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<Div class="active">

    <p>
        @using (Html.BeginForm("Index", "tb_Current_Intersection_Service_Dataset", FormMethod.Get))
        {
            <b>Search by:</b>
            @Html.RadioButton("searchBy", "AgencyName", new { @checked = "checked" })<text> AgencyName</text>
            @Html.RadioButton("searchBy", "ServiceID")<text> ServiceID</text>
            @Html.RadioButton("searchBy", "ServiceArabicName")<text>ServiceArabicName</text>
            @Html.RadioButton("searchBy", "DatasetID")<text>DatasetID</text>
            @Html.RadioButton("searchBy", "DatasetFullName")<text>DatasetFullName</text>
            @*@Html.RadioButton("searchBy", "AgencyName")<text>AgencyName</text>
                @Html.RadioButton("searchBy", "AgencyName")<text>AgencyName</text>*@
            @Html.TextBox("Search");
            <input type="submit" value="Search" />
        }
    </p>
</Div>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.First().ConsumerID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().tb_Current_Service.AgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ServiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tb_Current_Service.ServiceArabicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DatasetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tb_Current_MarsadDataset.DatasetFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GSBDatasetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().tb_Current_MarsadDataset.GSBDatasetFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ProviderID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().DatasetActivatedToUsedByService)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.First().ImportingDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.First().VersionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VersionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DataSourceName)
            </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.First().tb_Current_Service.ConsumerID)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <th>
                @Html.DisplayFor(modelItem => item.tb_Current_Service.AgencyName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Current_Service.ServiceArabicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatasetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Current_MarsadDataset.DatasetFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSBDatasetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Current_MarsadDataset.GSBDatasetFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderID)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DatasetActivatedToUsedByService)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ImportingDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.VersionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VersionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSourceName)
                </td>*@

            @*<td>
                    @Html.DisplayFor(modelItem => item.tb_Current_Service.ConsumerID)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Edit", "Edit", "tb_Current_Intersection_Service_Dataset", new { ServiceID = item.ServiceID, DatasetID = item.DatasetID }, null) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["Search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</table>
