@model IEnumerable<MarsadWebsiteControlPanel.Models.tb_Current_Agency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgencyArabicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyEnglishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyEnglishNameAbbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Current_Consumer.ConsumerArabicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_Current_Provider.ProviderArabicName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyArabicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyEnglishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyEnglishNameAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Current_Consumer.ConsumerArabicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_Current_Provider.ProviderArabicName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgencyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgencyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgencyID })
        </td>
    </tr>
}

</table>
