@model MarsadWebsiteControlPanel.Models.Agency

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Agency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgencyArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyArabicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyEnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyEnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyEnglishNameAbbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyEnglishNameAbbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyCategoryID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgencyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
